/* =====================================================================================
 *
 * FRONT-O-MATIC
 * A front-end development framework made by Kaleidos (http://kaleidos.net)
 *
 * =====================================================================================*/
/* Lesshat */
@import "libs/lesshat.less"; /* Bootstrap */

/* Core */
@import "libs/reset.less"; /* Bootstrap */

/* Responsive */
@import "libs/responsive.less";

/* Typography */
@import "libs/typography.less";

/* Colors */
@import "libs/colors.less";

/* Print */
@import "libs/print.less";

/* Helpers */
@import "libs/helpers.less";

body {
    background: @white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container{
    width: 940px;
    margin: 0 auto;
}

/* ========================================================================
 * GENERIC LIGHTBOX NOW CALLED KOMUBOX
 * ========================================================================= */

.overlay{
    z-index: 499;
    background: rgba(255,255,255,.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


.komubox{
    background: @white;
    .box-shadow(~"0px 4px 10px 0px rgba(0,0,0,.5)");
    border: 1px solid #cbd6dc;
    padding: 12px;
    z-index: 999;
    position: fixed;
    left: 50%;
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        color: @darkblue;
    }
}

/* ====================================================
 * HOME VIEW
 * ========================================================= */

 .home-header{
    padding: 35px 0 200px;
    background: #000; /* Fallback */
    background: url('../images/background.jpg');
    .cover();
    .logo{
        width: 365px;
        height: 100px;
        background: url('../images/logo.png') no-repeat 0 0;
        margin:0;
        padding: 0;
    }
    .activity-search{
        width: 862px;
        background: rgba(0,0,0,0.7);
        padding:20px 46px 23px 30px;
        margin:88px auto 0px;
        h2{
            font-family: 'Amatic SC';
            font-size:70px;
            font-weight:bold;
            margin:0px;
            color: @white;
        }
        form{
            .column-count(4);
            .column-gap(7px);
            select {
                width: 98%;
                padding:10px 0px;
                margin:40px 0px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size:24px;
                color:@darkgray;
                background-color:@white;
                option {
                    color:@darkgreen;
                }
            }
            .btn{
                width:140px;
                padding:6px 0px;
                margin:44px 0 0;
                font-size:24px;
                display:block;
                &:hover{
                    .transition(all .2s ease-in);
                    background:@black;
                }
            }
        }
    }
 }

 .alt-header{
    height: 60px;
    padding:9px 0;
    background-color:rgba(49,101,91,.8);
    border-top:2px solid darken(#165044, 20%);
    border-bottom:2px solid darken(#165044, 20%);
    .logo{
        width: 175px;
        height: 43px;
        background: url('../images/logo_small.png') no-repeat 0 0;
        margin:0;
        padding: 0;
        float:left;
    }
    form{
        margin:auto 100px auto auto;
        width:640px;
        float:right;
        .column-count(4);
        .column-gap(7px);
        select {
            padding:5px 0;
            width: 98%;
            font-family: 'Roboto Condensed', sans-serif;
            font-size:18px;
            color:@darkgray;
            background-color:@white;
            option {
                color:@darkgreen;
            }
        }
        .btn{
            width:140px;
            padding:6px 0px;
            font-size:18px;
            display:block;
            &:hover{
                .transition(all .2s ease-in);
                background:@black;
            }
        }
    }
 }

 .home-body{
    .activity-list{
        .title-activities{
            font-family: 'Roboto Condensed', sans-serif;
            font-size:40px;
        }
    }
 }

 .home-footer{
    padding:60px 40px 0 40px;
    background-color:@lightblack;
    height: 134px;
    .logo{
        width: 227px;
        height: 56px;
        background: url('../images/logo_footer.png') no-repeat 0 0;
        float:left;
    }
    .logo-piweek{
        width: 166px;
        height: 38px;
        background: url('../images/logo_piweek.png') no-repeat 0 0;
        float:right;
    }
 }
